body {
    background-color: black;
}
h1 {color: red;

}
h2 {color: aliceblue;

}

p {color:wheat ;

}

#title{
    text-align: center;
}

img{
    border-style: solid;
    border-radius: 23px;
    border-color: red;
    border-width: 5px;
}

a{
    color: yellow;
    background-color: black;
    font-weight: bold;
}
